*{
  box-sizing: border-box;
}
body{
  line-height: 1.5;
}
@font-face{
  font-family: 'fontawesome';
  src: url(font-awesome-4.7.0/fonts/fontawesome-webfont.woff);
}
div{
  margin: 0;
  padding: 0;
}
a{
  background-color: transparent;
}
.row{
  display: block;
}
div#header{
  padding: 8px 16px;
  margin-top: 5px;
}
#logo{
  width: 40%;
  color: #555;
  font-size: 37px;
  font-family: 'fontawesome';
}
div#logo a{
  min-width: 100%;
}
div#logo a:hover{
  color: #555;
}

#logo span{
  color: #4CAF50;
}
.caption{
  cursor: text;
  width: 60%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.hedrigh{
  margin-top: 20px;
  letter-spacing: 4px;
  font-family: Verdana,sans-serif;
}
.hiright{
  width: 15px;
  letter-spacing: 4px;
}
.navbar{
  display: inline-block;
  background-color: #4CAF50;
  min-width: 100%;
  letter-spacing: 4px;
  height: 57px;
  overflow: hidden;
}
.navbar a{
  padding: 16px 16px;
  color: white;
  font-size: 17px;
  width: auto;
  text-decoration: none;
}
.navbar a:hover{
  color: black;
  background-color: white;
}
nav.sidebar{
  width: 230px;
  /*height: 100vh;*/
}
h4{
  box-sizing: inherit;
  cursor: text;
  margin: 15px 0;
  padding: 10px 0;
}
nav.sidebar a ,nav.sidebar h4{
  display: block;
  padding: 0 16px;
}
nav.sidebar a{
  font-size: 16px;
}
nav.sidebar a:hover{
  background-color: gray;
  color: white;
}
.shadow{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

}


/* W3Schools Font Logo */
.w3schools-logo {
font-family:fontawesome;
text-decoration:none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size:37px;
letter-spacing:3px;
color:#555555;
display:block;
position:relative;
}
.w3schools-logo .dotcom {color:#4CAF50;}
@font-face {
font-family:'fontawesome';
src:url('../lib/fonts/fontawesome.eot?14663396#iefix') format('embedded-opentype'),
url('../lib/fonts/fontawesome.woff?14663396') format('woff'),
url('../lib/fonts/fontawesome.ttf?14663396') format('truetype'),
url('../lib/fonts/fontawesome.svg?14663396#fontawesome') format('svg');
font-style:normal;
}
.fa {
display:inline-block;
font:normal normal normal 14px/1 FontAwesome;
font-size:20px;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
transform:translate(0,0);
}
.fa-home:before {content:'\e800';}
.fa-menu:before {content: '\f0c9';}
.fa-globe:before {content:'\e801';}
.fa-search:before {content:'\e802'; }
.fa-thumbs-o-up:before {content:'\e803';}
.fa-left-open:before {content:'\e804';}
.fa-right-open:before {content:'\e805';}
.fa-caret-down:before {content:'\e809';}
.fa-caret-up:before {content:'\e80a';}
/* Google */
#nav_translate, #nav_search {display:none;}
#nav_translate a {display:inline;}
#googleSearch {color:#000000;}
.searchdiv {
max-width:400px;
margin:auto;
text-align:left;
font-size:16px;
}
div.cse .gsc-control-cse, div.gsc-control-cse {
background-color:transparent;
border:none;
padding:0px;
margin:0px;
}
td.gsc-search-button input.gsc-search-button {background-color:#555555;border-color:#555555;}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
box-sizing:content-box;
line-height:normal;
}
.gsc-tabsArea div {overflow:visible;}
.gsst_a .gscb_a {margin-top:3px;}
/* Customize W3.CSS */
#nav_tutorials,#nav_references,#nav_examples,#nav_exercises {
display:none;
padding-bottom:40px;
position:absolute;
width:100%;
z-index:5 !important;
}
.w3-col .w3-button {
margin:5px 5px 5px 0;
font-size:16px;
}
.w3-col.l4 .w3-card-2 {
padding:15px 10px;
height:260px;
}
.w3-theme {color:#fff !important;background-color:#4CAF50 !important;}
.w3-main {margin-left:230px;}
.w3-sidebar {
z-index:3;
width:230px;
overflow:hidden !important;
position:absolute !important;
margin-bottom:-155px;
}
.w3-sidebar .w3-bar-block .w3-bar-item{
padding:0 16px;
font-size:16px;
}
.w3-bar {
position:relative;
z-index:4;
font-size:17px;
}
.w3-wide {
font-family:"Segoe UI",Arial,sans-serif;
}
h1 {
font-size:80px;
color:#555555;
margin:2px 0 -20px 0 !important;
}
.certoverlay {
  position:absolute;
  top:0;
  background-color:rgba(0, 0, 0, 0.5);
  width:100%;
  text-align:center;
  padding:15px
}
.certoverlay h2 {
  margin:10px 0 0 0;
  font-size:36px;
}
.certoverlay h3 {
  margin:0 0 10px 0;
}

@media screen and (min-width:769px){.w3-sidebar.w3-collapse{display:block !important;}}
@media screen and (min-width:769px){#myAccordion,.hidesm{display:none !important;}}
@media screen and (min-width:769px){.w3-main{margin-left:230px !important;}.w3-bar-block .w3-button{padding:0;}}
@media screen and (max-width:768px){.w3-sidebar.w3-collapse,.barex,.navex{display:none !important;}.w3-bar-block .w3-bar-item{text-align:center !important;padding:2px 0;}h1,.w3-jumbo{font-size:60px !important;}}
@media screen and (max-width:545px){.certoverlay{padding:10px;height:100%;}.certoverlay h3{font-size:15px;}}
@media screen and (max-width:380px){.getcert{position:absolute;text-align:center;left:50%;bottom:50%;font-size:13px;}}
@media only screen and (max-device-width: 1366px){.w3-hide-device{display:none;}}
































.col-1 {width : 8.33%;}
.col-2 {width : 16.66%;}
.col-3 {width : 25%;}
.col-4 {width : 33.33%;}
.col-5 {width : 41.66%;}
.col-6 {width : 50%;}
.col-7 {width : 58.33%;}
.col-8 {width : 66.66%;}
.col-9 {width : 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
